<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>
  <div class="control-group">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>
  <div class="control-group">
    <%= f.label :trail %>
    <%= f.collection_select :trail, Trail.all, :id, :name, include_blank: "<none>" %>
  </div>
  <div class="control-group">
    <%= f.label :category %>
    <%= f.select :category, options_for_select([["Select One"], "Wildlife", "Maintenance", "Path Obstruction", "Washout", "Other"]) %>
  </div>
  <div class="control-group">
    <%= f.label :picture, "Picture" %>
    <%= f.file_field :picture %>
  </div>
  <div class="control-group">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="control-group">
    <%= f.label :reported_at %>
    <%= f.datetime_select :reported_at %>
  </div>
  <div class="control-group">
    <%= f.label :tags_text, "Tags" %>
    <%= f.text_field :tags_text, "placeholder" => "Add tags", "data-role" => "tagsinput" %>
  </div>
  <div class="control-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
