<%= form_for(@report, :html => { :multipart => true }) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>

  <div class="control-group">
    <%= f.label :trail %>
    <%= f.collection_select :trail_id, Trail.all, :id, :name, include_blank: "<none>" %>
  </div>

  <div class="control-group">
    <%= f.label :category %>
    <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: "<none>" %>
  </div>
  <%= f.fields_for :pictures, @report.pictures do |picture_fields| %>
    <div class="control-group">
      <%= image_tag picture_fields.object.picture.preview.url, alt: picture_fields.object[:picture] %>
      <%= picture_fields.label :picture, "Picture" %>
      <%= picture_fields.file_field :picture %>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <%# <div class="control-group"> %>
  <%#   <%= f.label :reported_at %1> %>
  <%#   <%= f.datetime_select :reported_at %1> %>
  <%# </div> %>
  <div class="control-group">
    <%= f.label :tags_text, "Tags" %>
    <%= f.text_field :tags_text, "placeholder" => "Add tags", "data-role" => "tagsinput" %>
  </div>
  <div class="control-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
