<!DOCTYPE html>
<html>
  <head>
    <title>TrailReporter</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= csrf_meta_tags %>

  </head>
  <body>
    <%= nav_bar :fixed => :top do %>
      <%= menu_group do %>
        <%= menu_item "Home", root_path %>

        <% if current_user %>
          <%= menu_item "Reports", reports_path %>
          <%= menu_item "Categories", categories_path %>
          <%= menu_item "Tags", tags_path %>
          <%= menu_item "Trails", trails_path %>
        <% end %>        

      <% end %>
      <% if current_user %>
        <%= menu_group pull: :right do %>
          <%= menu_item "Log Out", destroy_user_session_path, :method => :delete %>
        <% end %>
      <% else %>
        <%= menu_group pull: :right do %>
          <%= menu_item "Sign In", new_user_session_path %>
          <%= menu_item "Sign Up", new_user_registration_path %>
        <% end %>
      <% end -%>
    <% end %>

    <div class="container">
      <%= render partial: "shared/flash_messages", flash: flash %>
      <%= yield %>
    </div>

    <script>
      window.GOOGLE_MAPS_API_KEY = "<%= ENV['GOOGLE_MAPS_API_KEY'] %>";
    </script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= yield :javascript %>
  </body>
</html>
