<!DOCTYPE html>
<html>
  <head>
    <title>TrailReporter</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= csrf_meta_tags %>

  </head>
  <body>
    <%= render "shared/nav_bar" %>

    <div class="container">
      <%= render partial: "shared/flash_messages", flash: flash %>
      <%= yield %>
    </div>

    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>">
    </script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= yield :javascript %>
  </body>
</html>
